<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="com.hacknife.differrepair">
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <application >
        <provider
            android:name=".DifferFileProvider"
            android:authorities="com.hacknife.differrepair.DifferFileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/differrepair_paths" />
        </provider>
    </application>

</manifest>
